@import "common/var";
@import "mixins/mixins";

@include b(icon) {

  @include e(normal) {
    font-size: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }
  @include e(small) {
    font-size: 16px;
    padding: 5px 9px 5px 9px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.parent {
    margin-right: 4px;
  }

  &.child {
    font-size: 6px;
    margin: 0 3px 3px 0;
    align-self: flex-end;
  }

  @include when(enabled) {
    color: $--hn-normal-font-color;
  }

  @include when(disabled) {
    color: $--hn-unimportant-font-color;
    cursor: not-allowed;
  }

  @include when(active) {
    color: $--hn-theme-color;
  }
}
