@import "common/var";
@import "mixins/mixins";

@include b(toolbar) {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;

  @include e(r) {
    display: flex;

    @include e(rl) {
      display: flex;
      margin-right: 8px;
    }

    @include e(rr) {
      display: flex;
    }
  }

  @include when(higher) {
    height: 48px;
  }
}
